<%- include('partials/header') %> 
    <h1>Welcome to TunedIn!</h1>
    <p>Discover playlists from a global community! Whether you're looking for workout music, party tunes,
        or just a playlist to cry to, discover a curated playlist just for you!
    </p>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="images/record.jpg">
        </div>
        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="images/headphones.jpg">
        </div>
        
    </div>

<%- include('partials/footer')  %> 