:root {
    --green: rgb(0, 240, 136);
    --silver: #afafaf;
    --merino: #f5ece5;
}

* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "nav"
        "main"
}

body > nav {
    grid-area: nav;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    box-shadow: inset 0 0 10px #003300;

}

body > main {
    grid-area: main;
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    overflow-y: scroll;
}

body > main h1:first-child {
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 2px ridge var(--silver);
    width: 60vw;
    text-align: center;

}

a {
    text-decoration: none;
    height: 100px;
    text-align: center;
    align-items: center;
}