<%- include('../partials/header')  %> 
    <h1>Community Playlists</h1>
    <ul id="community-list">
        <% playlist.forEach(p => { %>
            <li><a href='/playlists/<%=p._id%>'><%= p.playlistName%></a></li>
        <% }) %>
    </ul>
<%- include('../partials/footer')  %> 